@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>
@*@model SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO*@
@using SingularityFAAST.Core.Entities

@{
    ViewBag.Title = "Add Loan";
}


    <h2>New Loan</h2>

    <br />
    <div class="container-fluid">
    
    
        @*@Html.AntiForgeryToken()*@
        
        @*Date appears, Due date appears*@
    <b>Today's Date: @DateTime.Now.ToString("MMMM dd, yyyy")
        <br/>
        Loan Due Date: @DateTime.Now.AddDays(28).ToString("MMMM dd") </b>

        <hr/>
        
        <h3>Select Client: </h3>
        <div class="row">
            
            @*search for client by last name, select*@
            @using (Html.BeginForm("AddLoan", "Loan", FormMethod.Post, new {@class = "form-inline"}))
            {
                <div class="col-md-3">
                    <input type="text" class="form-control" id="LastName" name="searchby" placeholder="Search by Client Last Name"/> @*Search by last name*@
                    <input type="submit" class="btn btn-primary" name="byName" value='Search'/>
                </div>
            }
        </div>
            <div class="row">
                <br/>
                <div class="col-md-8">

                    @*This table wants to be shorter and disappear when Client is chosen*@

                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>
                                    Select
                                </th>
                                <th>
                                    Client ID
                                </th>
                                <th>
                                    First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Home Phone
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Eligibility
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                @*
                                var list = Model.ToList();
                                for (int i = 0; i < list.Count; i++)
                                {*@

                                int counter = 0;
                                foreach (var item in Model)
                                {
                                    counter++;
                                    if (counter < 2)
                                    {
                                        <tr>
                                            <td>
                                                @using (Html.BeginForm("ViewItems", "Loan", FormMethod.Post, new {@class = "form-inline"}))
                                                {
                                                    <input type="hidden" value="@item.ClientId" name="ClientId"/> @* C# Async method? *@
                                                    <button type="submit" style="float: left;" value="Select">Select</button> @*Select this client for this new loan*@
                                                }
                                            </td>
                                            <td>
                                                @item.ClientId
                                            </td>
                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>
                                                @item.LastName
                                            </td>
                                            <td>
                                                @item.HomePhone
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @item.LoanEligibility
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>

                    </div>
                </div>

            

        <hr/>
        @using (Html.BeginForm())
        {
            //things wanted in this form:
            //Type of individual (drop-down)
            //Primary Purpose (drop-down)
            //Primary Purpose Decision Area (drop-down)

            //Search Inventory
            //Search By (drop-down is familiar to them) with text box to the right of dd
            //Select Item in table by button on right of item record (like my other tables)

            //Perhaps + to add second item on this same page


            @*@Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.LoanNumber)*@

            
            <h3>Loan Information: </h3>

            //Type of individual (drop-down)
       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Type of individual <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li><a href="#">Type of individual</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>


            //Primary Purpose (drop-down)

       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Primary Purpose <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li><a href="#">Primary Purpose</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>


            //Primary Purpose Decision Area (drop-down)
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Primary Purpose Decision Area <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">
         <li><a href="#">Action</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>

     <br /><br/>
    <h4>Select Inventory Items: </h4>
            <div class="row">
        
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>
                                Select
                            </th>
                            <th>
                                Inventory Id
                            </th>
                            <th>
                                Item Name
                            </th>
                            <th>
                                Manufacturer
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Accessories
                            </th>
                            <th>
                                Availability
                            </th>
                            <th>
                                Damages
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                   

                        @foreach (var item2 in Model)
                        {
  
                            <tr>
                                <td>
                                    @using (Html.BeginForm("ViewItems", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        <input type="hidden" value="@item2.ClientId" name="ClientId" /> @* C# Async method? *@
                                        <input type="checkbox" style="float: left;" value="Select" /> @*Select this client for this new loan*@
                                    }
                                </td>
                                <td>
                                    @item2.InventoryItemId
                                </td>
                                <td>
                                    @item2.ItemName
                                </td>
                                <td>
                                    @item2.Manufacturer
                                </td>
                                <td>
                                    @item2.Description
                                </td>
                                <td>
                                    @item2.Accessories
                                </td>
                                <td>
                                    @item2.Availability
                                </td>
                                <td>
                                    @item2.Damages
                                </td>
                            </tr>
                        }
                       
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row col-md-6">
                <hr/>
                <h4>Your new loan number is #12-DL-32. </h4>

                <h5>Client Anderson, Lorin is checking out these items: </h5> 
                <div class="row col-md-6 col-md-offset-1">
                    Modified Keyboard, Learn To Respond Appropriately
                </div>
                    <br /><br />
                    <b>Loan is due on @DateTime.Now.AddDays(28).ToString("MMMM dd") </b>
                    <br />
                    <hr />
                </div>
                <div class="row form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Create New Loan" class="btn btn-success"/>
                    
                </div>
            </div>

        }

    <div class="row col-md-3">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
