@*@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>*@
@*@model SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>*@

@*@model IList<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>*@

@using System.Activities.Statements
@model SingularityFAAST.WebUI.Models.AddLoanInfo

@{
    ViewBag.Title = "Add Loan";
}
@* and other scripts soon *@

<h2>New Loan</h2>

<br />
<div class="container-fluid">

    @* Html Hiddens give us form fields that the model binder will still use, but are hidden from the view *@
    @* whatever you name id's, names, etc, keep them consistent.
        keep in mind the 'name' property on these must match the property names on the C# classes used*@

    @* First parameter will be the name propety - and is what the model binder will use *@
    @Html.Hidden("ClientID", null, new { id = "clientIdHidden" })
    @Html.Hidden("InventoryItemIDs", new { id = "inventoryItemIdsHidden", name = "InventoryItemIds" })
    @*The three dropdown values*@
    @Html.Hidden("Type", null, new { id = "individualHidden" })
    @Html.Hidden("Purpose", null, new { id = "purposeHidden" })
    @Html.Hidden("PurposeType", null, new { id = "purposeTypeHidden" })


@*Date appears, Due date appears*@
    <b>
        Today's Date: @DateTime.Now.ToString("MMMM dd, yyyy")
        <br />
        Loan Due Date: @DateTime.Now.AddDays(28).ToString("MMMM dd")
    </b>

    <hr />

    <h4>Select Client: </h4>
    <div class="row col-md-6">

        @*search for client by last name, select*@     @*SearchClient*@
        <div class="col-md-6 form-inline">
            <input type="text" class="form-control" id="clientSearchInput" name="searchby" placeholder="Search by Client Last Name" /> @*Search by last name*@
            <input type="submit" class="btn btn-primary" name="byName" value='Search' id="clientSearchButton" />
        </div>
    </div>
    <div class="row">
        <br /><br /><br />
        <div class="col-md-8">
            <table class="table table-striped table-hover table-condensed"
                   id="clientSearchTable">
                <thead>
                <tr>
                    <th>
                        Select
                    </th>
                    <th>
                        Client ID
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Home Phone
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Eligibility
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>



    <hr />
    @*  //things wanted in this form:
        //Type of individual (drop-down)
        //Primary Purpose (drop-down)
        //Primary Purpose Decision Area (drop-down)

        //Search Inventory
        //Search By (drop-down is familiar to them) with text box to the right of dd
        //Select Item in table by button on right of item record (like my other tables)

        //Perhaps + to add second item on this same page *@


    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LoanNumber)*@


    <h4>Loan Information: </h4>

    @*Type of individual(drop - down)*@
    @*@Html.DropDownListFor(m => m.First().ClientCategoryID, new SelectList(Model.AsEnumerable(), "ClientCategoryId", "Type"), "Type of Individual", new { @class = "btn btn-default" });*@

    @*@Html.DropDownListFor(m => m.ClientCategory, Model.ClientCategory.Select(clientCategory => new SelectListItem()
        {
            Text = clientCategory,
            Value = clientCategory,
            Selected = clientCategory == Model.ClientCategory
        })*@

    @*@Html.DropDownListFor(m => m.ClientCategoryId, Model.ClientCategorySelectList, "-- Please Select --")
        @Html.ValidationMessageFor(m => m.LoanNumber)*@

    <div class="row col-md-12">
        @*//Type of individual (drop-down)*@
        <div class="dropdown">
            <button type="button" id="individualButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type of individual <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="individual">
                <li>Individual with Disability</li>
                <li>Family Guardian or Authorized Rep</li>
                <li>Reps of Education</li>
                <li>Reps of Employment</li>
                <li>Reps of Community Living</li>
                <li>Reps of Technology</li>
                <li>Health Allied Health and Rehab</li>
            </ul>
        </div>

        @*//Primary Purpose (drop-down)*@
        <div class="dropdown">
            <button type="button" id="purposeButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Primary Purpose <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="purpose">
                <li>Assist in decision making (device trial or evaluation)</li>
                <li>Provide an accomodation on a short-term basis</li>
                <li>Conduct training, self-education or other professional development activity</li>
                <li>Serve as Loaner during Device Repair or while waiting for funding</li>
            </ul>
        </div>
        
        @*//Primary Purpose Decision Area (drop-down)*@
        <div class="dropdown">
            <button type="button" id="decisionButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Primary Purpose Decision Area <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="purposeType">
                <li>Education</li>
                <li>Employment</li>
                <li>CommunityLiving</li>
            </ul>
        </div>
    </div>

    <br />
    <br />
    <h4>Select Inventory Items: </h4>
    <div class="row col-md-6">

        @* Original does: Search By button, InventoryName etc. drop-down, Input box, Search Button. Pulls relevant items from orig. table and displays in table *@

        @*Get the Client Id from above via controller, so when this page is reloaded for inventory search, only that single client is passed into the reloading of the page with the selected inventory item*@

        @*search for item by name, select*@

        <div class="col-md-6 form-inline">
            <input type="text" class="form-control" id="itemSearchInput" name="searchby" placeholder="Search by Item Name" /> @*Search by last name*@
            <input type="submit" class="btn btn-primary" name="byName" value='Search' id="itemSearchButton" />
        </div>

        <div class="col-md-5  form-inline">
            @*<input type="hidden" value="@Model.InventoryItem.ItemNumber" name="ItemNumber" />*@  @*foreach this*@
            <input type="submit" class="btn btn-primary" name="byInvName" value='Add Selected Item' />
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="row">

        <div class="col-md-12">
            <table class="table table-striped table-hover table-condensed"
                   id="inventorySearchTable">
                <thead>
                    <tr>
                        <th>
                            Select
                        </th>
                        <th>
                            Inventory Id
                        </th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Manufacturer
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Accessories
                        </th>
                        <th>
                            Availability
                        </th>
                        <th>
                            Damages
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
    <hr />
    <div class="row col-md-7">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><b>Your new loan number is #12-DL-32. </b></h4>
            </div>
            <div class="panel-body">
                <div id="cName">
                    @*<h5>Client Anderson, Lorin is checking out these items: </h5>*@
                </div>
                <div class="row col-md-6 col-md-offset-1">
                    <div id="iItems">
                        @*Modified Keyboard, Learn To Respond Appropriately*@
                    </div>
                </div>
                <br/><br/>
                <b>Items are due on @DateTime.Now.AddDays(28).ToString("MMMM dd") </b>
                <br/>
            </div>
        </div>

    </div>
    <div class="row form-group">
        <div class="col-md-10">
            <input type="submit" value="Create New Loan" class="btn btn-success" />

        </div>
    </div>


    <div class="row col-md-3">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


<script src="~/Scripts/Loans/LoanCreation/ClientInventorySearch.js" type="text/javascript"></script>