@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>

@{
    ViewBag.Title = "CheckInRenewal";
}
<br />
<div class="row">
    <div class="col-md-7">
        <p><i>Please confirm all items are available for renewal before completing this form.</i></p>
        <p><i>Only the items that are available can be renewed.</i></p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h3>Enter Outcomes of Prior Loan</h3>
    </div>
</div>

@using (Html.BeginForm("CheckInRenewal", "Loan", FormMethod.Post, new { @class = "" }))
{
    <div class="container-fluid">
        <hr />
        <div class="row">
            <h5>
                @foreach (var item in Model)
                {
                    <span class="col-md-4"><h4>Client: @item.FirstName @item.LastName, Loan# @item.LoanNumber</h4></span>

                    break; //or will print client for each item in client loan
                }
            </h5>
        </div>
        <br />

        @*Need to do this section like EditClient for the Disabilities,  OR BYPASS listing?*@

        <div class="row">

            @for (var i = 0; i < @Model.Count(); i++)
            {
                foreach (var item in Model)
                {
                    if (item.IsActive && (!item.Availability))
                    {
                        <div class="row">
                            <div class="col-md-4">

                                <input type="hidden" value="@item.LoanNumber" name="LoanNumber"/>
                                <input type="hidden" value="@item.ClientId" name="ClientId"/>
                                <input type="hidden" value="@item.Purpose" name="Purpose"/>
                                <input type="hidden" value="@item.PurposeType" name="PurposeType"/>
                                <input type="hidden" name="InventoryItems[@i].InventoryItemId" value="@item.InventoryItemId"/>
                                @{ i++; }

                                <dl class="dl-horizontal">
                                    <dt>
                                        Item Number:
                                    </dt>

                                    <dd>
                                        @item.InventoryItemId
                                    </dd>
                                    <dt>
                                        Item:
                                    </dt>

                                    <dd>
                                        @item.ItemName
                                    </dd>

                                    <dt>
                                        End Date:
                                    </dt>

                                    <dd>
                                        @item.LoanDate.AddDays(29).ToString("MMMM dd, yyyy")
                                    </dd>
                                </dl>
                            </div>


                            @*Damages would not be recorded until item final checkin*@

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="damages">Item Damages:</label>
                                    @*<input type="text" class="input-sm" name="Damages" id="damages" />*@
                                    <textarea class="form-control" name="Damages" id="damages" rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <hr/>
                    }
                }
            break;

        }

        </div>

        <br />

        <div class="row">
            <div class="col-md-4" id="decision">
                <h5><b>Client Outcome</b></h5>
                <div class="radio">
                    <label><input type="radio" name="clientOutcome" value="AT will meet needs" checked>AT will meet needs</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="clientOutcome" value="Non-Respondant">Non-Respondant</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="clientOutcome" value="No decision made">No decision made</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="clientOutcome" value="AT will not meet needs">AT will not meet needs</label>
                </div>
            </div>


            <div class="col-md-8">
                <div class="form-group">
                    <label for="notes">Loan Notes:</label>
                    <textarea class="form-control" name="LoanNotes" id="notes" rows="3"></textarea>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
                    <div class="col-md-1">
                        <button class="btn btn-warning" type="button" name="CancelLoanEntry" data-toggle="modal" data-target="#cancelModal">Cancel</button>

                        @*Modal*@
                        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="ModalTitle">Warning!</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Are you sure that you would like to cancel? You will lose your progress.</h4>  @*A little over exagerated*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        @Html.ActionLink("Cancel Entry", "Index", "Loan", null, new { @class = "btn btn-primary btn-warning" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

                                }


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

