@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>

@{
    ViewBag.Title = "CheckIn";
}

This page checks in an entire loan at once. It updates the value LoanMasters.IsActive to False, and for each Item in loan sets Availability to True.  And record client outcome, damages etc.
Notify on overdue loans.

<h2>Loan Check In</h2>

<div>
    <h4>Loan</h4>
    <hr />
    @*<h3>Your Loan is checked in</h3>*@
    @foreach (var item in Model)
    {

        <dl class="dl-horizontal">
            <dt>
                Device
            </dt>

            <dd>
                @item.LoanNumber
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @item.LastName)
            </dd>

            <dt>
                First Name
            </dt>

            <dd>
                @item.FirstName)
            </dd>

            <dt>
                Loan End Date
            </dt>

            <dd>
                @item.DateCreated.AddDays(28).ToString("MMMM dd, yyyy"))
            </dd>
        </dl>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Check-In Device" class="btn btn-default" />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
