@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>

@{
    ViewBag.Title = "CheckInItem";
}

<h2>Item Check-In</h2>
@using (Html.BeginForm("CheckItemIn", "Loan", FormMethod.Post, new { @class = "" }))
{
    <div>
        <hr />
        <div class="row">
            <h4>
                @foreach (var item in Model)
                {
                    <span class="col-md-1">Loan #: @Html.DisplayFor(x => item.LoanNumber)</span>
                    <span class="col-md-2">Name: @Html.DisplayFor(x => item.LastName), @Html.DisplayFor(x => item.FirstName)</span>
                    <span class="col-md-2">Phone: @Html.DisplayFor(x => item.CellPhone)  </span>
                    <span class="col-md-3">Email: @Html.DisplayFor(x => item.Email)</span>
                    break; //or will print client for each item in client loan
                }
            </h4>

        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-4">
                        <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                        <input type="hidden" value="@item.Availability" name="Availability" />
                        <input type="hidden" value="@item.IsActive" name="IsActive" />
                        <dl class="dl-horizontal">
                            <dt>
                                Item Number:
                            </dt>

                            <dd>
                                <input type="hidden" value="@item.InventoryItemId" name="InventoryItemId" />
                                @item.InventoryItemId
                            </dd>
                            <dt>
                                Item:
                            </dt>

                            <dd>
                                @item.ItemName
                            </dd>

                            <dt>
                                Item Loan End Date:
                            </dt>

                            <dd>
                                @item.LoanDate.AddDays(29).ToString("MMMM dd, yyyy")
                            </dd>
                        </dl>
                    </div>
                    <br />
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="damages">Item Damages:</label>
                        <textarea class="form-control" name="Damages" id="damages" rows="3"></textarea>
                    </div>
                </div>
                break;
            }

        </div>
        <br />

        <br />
        <br />
        <br />
        <div class="form-group">
            <div class="col-md-2 col-md-10">
                <input type="submit" value="Check-In Item" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Loans List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
