@using System.Data.Entity.Core.Objects.DataClasses
@using SingularityFAAST.Core.DataTransferObjects
@model IEnumerable<SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO>

@{
    ViewBag.Title = "Loan";
}

<h2>Manage Loans</h2>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.ActionLink("Create New Loan", "AddLoan", null, new { @class = "btn btn-primary" })

            </div>
            <div class="col-md-4">
                @using (Html.BeginForm("Index", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <input type="text" class="form-control" id="LName" name="searchby" placeholder="Search Client Last Name" /> @*Search by last name*@
                    <input type="submit" class="btn btn-primary" name="byName" value='Search' />

                }
            </div>
            <div class="col-md-4">
                @using (Html.BeginForm("Index", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <input type="text" class="form-control" id="LoanNum" name="searchby" placeholder="Search by Loan Number" /> @*Search by loan Number*@
                    <input type="submit" class="btn btn-primary" name="byNum" value="Search" />
                }
            </div>
        </div>
    </div>
    <hr />

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <i class="fa fa-search-plus fa-lg"></i> Select any loan to view the loan's details, and to edit or renew. <br />
                <i class="fa fa-check text-info fa-lg"></i> Select any active loan to check-in. If the check is not visible, the loan has been checked in.<br />
                <i class="fa fa-times text-info fa-lg text-danger"></i> Select any loan to eliminate it. <br />
                <br />
                <i class="fa fa-exclamation-circle fa-lg text-danger"></i> Indicates a loan or item in loan is overdue.
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-md-8">
                <table class="table table-striped table-hover table-condensed" style="float: left;">
                    <thead>
                        <tr>
                            <th>
                                Select
                            </th>
                            <th>
                                Loan Number
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th>
                                Loan Date Due
                            </th>
                            <th>
                                Client's ID
                            </th>
                            <th>
                                Client First Name
                            </th>
                            <th>
                                Client Last Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Do for 10 items in list *@
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div style="width: 100px;">
                                        @*@using (Html.BeginForm("ViewItems", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                            {
                                                <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                                                <button type="submit" style="float: left"><i class="fa fa-search-plus fa-md"></i></button> @*View items in Loan
                                            }*@
                                       
                                        @*Convert the other buttons to be like this one*@
                                        <button style="float: left">
                                            <a href="@Url.Action("ViewItems", "Loan", new { loanNumber = @item.LoanNumber})">
                                                <i class="fa fa-search-plus text-info fa-lg"  style ="color: black;"></i>
                                            </a>
                                        </button>
                                        
                                        @if (item.IsActive)
                                        {
                                            using (Html.BeginForm("CheckIn", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                            {
                                                <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                                                    <button type="submit" style="float: left"><i class="fa fa-check text-info fa-lg"></i></button> @*Check in Entire loan*@
                                            }
                                        }

                                        @*@if (item.IsActive)*@
                                        @*{*@
                                        @using (Html.BeginForm("CancelLoan", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                        {
                                            <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                                                <button type="submit"><i class="fa fa-times text-info fa-lg text-danger"></i></button> @*View items in Loan*@
                                        }
                                        @*}*@
                                        @*<button><i>  issue with the first string and size of button
                                                @Html.ActionLink(" ", "DeleteLoan", new {loanNumber = item.LoanNumber }, new {@class= "fa fa-times text-info fa-md text-danger", style = "float: right;" })
                                            </i></button>*@
                                    </div>
                                </td>
                                <td>
                                    12-DL-@item.LoanNumber              @*|| (item.LoanDate.AddDays(28) < DateTime.Today.AddDays(1)))) Gets overdue *items* in loan*@
                                    @if ((item.DateCreated.AddDays(29) < DateTime.Today.AddDays(1)) && (item.IsActive))
                                    {
                                        <i class="fa fa-exclamation-circle fa-lg text-danger"></i>
                                    }
                                </td>
                                <td>
                                    @item.DateCreated.ToString("MMMM dd, yyyy")
                                </td>
                                <td>
                                    @item.DateCreated.AddDays(29).ToString("MMMM dd, yyyy")
                                </td>
                                <td>
                                    @item.ClientId
                                </td>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="Index.cshtml">< Previous 10 </a> @*use bootstrap pagination here*@
                <a href="Index.cshtml">| Next 10 ></a>
            </div>

            @*@*<div class="col-md-2 col-sm-3 hidden-xs">*@
            @*Placeholder - keep empty*@
            @*</div>*@

            <div class="col-md-3" style="position: fixed; right: 8%;">
                <div class="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Loans Due This Week</h3>   @*Could this be items / devices due instead?*@
                            @*<div class="navbar-collapse navbar-right collapse">*@
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            Loan Number
                                        </th>
                                        <th>
                                            Date Due
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var dateDue = item.DateCreated.AddDays(29);
                                        var dateC = item.DateCreated;

                                        if ((dateDue <= DateTime.Now.AddDays(7) && dateDue >= DateTime.Now) && (item.IsActive))
                                        {
                                            <tr>
                                                <td>
                                                    @using (Html.BeginForm("ViewItems", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                                    {
                                                        <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                                                        <button type="submit" style="float: left"><i class="fa fa-search-plus fa-md"></i></button> @*View items in Loan*@
                                                    }
                                                    12-DL-@item.LoanNumber  @*DL is device loan. what is 12?*@
                                                </td>
                                                <td>@item.DateCreated.AddDays(29).ToString("MMMM dd, yyyy")</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*</div>*@
                </div>

                @*<div class="col-md-4">*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overdue Loans</h3>
                        @*<div class="navbar-collapse navbar-right collapse">*@
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Loan Number
                                    </th>
                                    <th>
                                        Date Due
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if ((item.DateCreated.AddDays(29) < DateTime.Today.AddDays(1)) && (item.IsActive))
                                    {
                                        <tr>
                                            <td>
                                                @using (Html.BeginForm("ViewItems", "Loan", FormMethod.Post, new { @class = "form-inline" }))
                                                {
                                                    <input type="hidden" value="@item.LoanNumber" name="LoanNumber" />
                                                    <button type="submit" style="float: left"><i class="fa fa-search-plus fa-md"></i></button> @*View items in Loan*@
                                                }
                                                12-DL-@item.LoanNumber
                                            </td>
                                            <td>@item.DateCreated.AddDays(29).ToString("MMMM dd")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <p>
                    @Html.ActionLink("Loans Page", "Index", null, null)
                </p>
            </div>
        </div>
    </div>
</div>
