@model SingularityFAAST.Core.DataTransferObjects.LoansClientsInventoryDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View1</title>
</head>
<body>
    <div>
        <h4>LoansClientsInventoryDTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoanMasterId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanMasterId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanDetailId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanDetailId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanDuration)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanDuration)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InventoryItemId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InventoryItemId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Purpose)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Purpose)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PurposeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PurposeType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MiddleInitial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HomePhone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HomePhone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanEligibility)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanEligibility)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClientCategoryId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClientCategoryId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DatePurchased)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DatePurchased)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InventoryCategoryId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InventoryCategoryId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ItemName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Availability)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Availability)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Damages)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Damages)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accessories)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accessories)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditLn", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
