
@model IEnumerable<SingularityFAAST.Core.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2> 

<div class="form-group">
    @Html.ActionLink("Add New Client", "AddClient", "Client", null, new { @class = "btn btn-primary" })
</div>


@using (Html.BeginForm("Index", "Client", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="searchby"></label>
        <input type="text" class="form-control" name="searchby" id="searchby" placeholder="Client Search" />
    </div>


    <div class="radio">

        <label for="Lastname"> Last Name
            <input type="radio" class="form-control"  id="Lastname" name="searchByType" value="1" checked/>
        </label>
        <label for="Firstname"> First Name
            <input type="radio" class="form-control" id="Firstname" name="searchByType" value="2" />
        </label>
        <label for="ClientId"> Client ID
            <input type="radio" class="form-control" id="ClientId" name="searchByType" value="3" />
        </label>
        <label for="Email"> Email
            <input type="radio" class="form-control" id="Email" name="searchByType" value="4" />
        </label> 
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


}



        <br />

        <table class="table table-striped">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Cell Phone</th>
                <th>Home Phone</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>  @*Usage comparison*@                            
                <th>Category</th>
                <th>Notes</th>
                <th></th>  @*To make th width match data*@
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CellPhone</td>
                    <td>@item.HomePhone</td>
                    <td>@item.Email</td>                   
                    <td>@item.ClientCategoryName</td>                   
                    <td>@item.Notes</td>

                    <td>@Html.ActionLink("View/Edit", "EditClient", new { id=item.ClientID }) 

                        @*@Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })*@
                    </td>
                </tr>
            }

        </table>

