
@model IEnumerable<SingularityFAAST.Core.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2> 

<div class="form-group">
    @Html.ActionLink("Add New Client", "AddClient", "Client", null, new { @class = "btn btn-primary" })
</div>


@using (Html.BeginForm("Index", "Client", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="searchby"></label>
        <input type="text" class="form-control" name="searchby" id="searchby" placeholder="Client Search" />
    </div>


    <div class="radio">
        <label for="Lastname"> Last Name
            <input type="radio" class="form-control"  id="Lastname" name="searchByType" value="1" checked/>
        </label>
        <label for="Firstname"> First Name
            <input type="radio" class="form-control" id="Firstname" name="searchByType" value="2" />
        </label>
        <label for="ClientId"> Client ID
            <input type="radio" class="form-control" id="ClientId" name="searchByType" value="3" />
        </label>
        <label for="Email"> Email
            <input type="radio" class="form-control" id="Email" name="searchByType" value="4" />
        </label>

        
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


}



        <br />

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientID) @*To be removed*@
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    State
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)  @*Usage comparison*@
                </th>
                <th>
                    Client Category
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ClientID
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address1
                    </td>
                    <td>
                        @item.StateCode
                    </td>
                    <td>
                        @item.Zip
                    </td>

                    @*<td>
                        @item.ClientCategoryId 
                    </td>*@

                    <td>
                        @item.ClientCategoryName
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "EditClient", new { id=item.ClientID }) 


                        @*@Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })*@
                    </td>
                </tr>
            }

        </table>

