
@model SingularityFAAST.Core.ViewModels.ClientIndexViewModel

@{
    ViewBag.Title = "Index";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Clients</h3>
        </div>
    </div>






    @using (Html.BeginForm("Index", "Client", FormMethod.Post, new { @class = "form-inline" }))
            {
        <div class="row">


            <div class="col-md-3">     
                <div class="form-group">
                    @Html.ActionLink("New Client", "AddClient", "Client", null, new { @class = "btn btn-primary" })
                </div>
            </div>


            <div class="col-md-9, text-right">   @*Alignment Classes 12829608*@
                <label class="sr-only" for="searchby">Search Input</label>
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" required id="searchby" name="searchby" placeholder="Search By Name or Email">


                <div class="radio mb-2 mr-sm-2 mb-sm-0">
                    <label class="form-check-label, sr-only">
                        <input class="form-check-input" type="hidden" name="searchByType" value="1" checked> Name
                    </label>

                    @*<label class="form-check-label">
                            <input class="form-check-input" type="radio" name="searchByType" value="2"> First Name
                        </label>*@

                    @*<label class="form-check-label">
                            <input class="form-check-input" type="radio" name="searchByType" value="3"> Client ID
                        </label>*@

                    @*<label class="form-check-label">
                            <input class="form-check-input" type="radio" name="searchByType" value="4"> Email
                        </label>*@
                </div>
                <button type="submit" class="btn btn-primary">Search</button>

            </div>

        </div>
    }



    @*Table -----------------------------------------------------------------------*@

    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Cell Phone</th>
                        <th>Home Phone</th>
                        <th>Email</th>  
                        <th>Category</th>
                        <th>Notes</th>
                        <th>View/Edit</th>  @*To make th width match data*@
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Clients)
                    {
                        if (item.IsDeleted == false)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.CellPhone</td>
                                <td>@item.HomePhone</td>
                                <td>@item.Email</td>
                                <td>@item.ClientCategoryName</td>
                                <td>@item.Notes</td>

                                <td>@Html.ActionLink("View/Edit", "EditClient", new { id = item.ClientID })</td>
                                <td>@Html.ActionLink("Delete", "Delete", new { id = item.ClientID })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div>
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
            </div>


        </div>
    </div>
</div>