
@model IEnumerable<SingularityFAAST.Core.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>




@using (Html.BeginForm("Index", "Client", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="searchbyname">Search by Last Name</label>
        <input type="text" class="form-control" name="searchbyname" id="searchbyname" placeholder="Last Name" />
    </div>

    <div class="form-group">
        <label for="searchbyid">ClientId</label>
        <input type="number" class="form-control" name="searchbyid" id="searchbyid" placeholder="ClientId" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


    <div class="form-group">
        @Html.ActionLink("Add New Client", "AddClient", "Client", null, new { @class = "btn btn-primary" })
    </div>
}



        <br />

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientID) @*To be removed*@
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    State
                </th>
                <th>
                    Zip
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientCategoryId)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ClientID
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address1
                    </td>
                    <td>
                        @item.StateCode
                    </td>
                    <td>
                        @item.Zip
                    </td>
                    <td>
                        @item.ClientCategoryId  @*need to display category name and not just the id*@
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) 
                        @*@Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })*@
                    </td>
                </tr>
            }

        </table>

