
@model IEnumerable<SingularityFAAST.Core.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2> 





@using (Html.BeginForm("Index", "Client", FormMethod.Post, new { @class = "form-inline" }))
{

    <div class="form-group">
        @Html.ActionLink("Add New", "AddClient", "Client", null, new { @class = "btn btn-primary" })  OR    
    </div>

    <label class="sr-only" for="searchby">Search Input</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" required id="searchby" name="searchby" placeholder="Search By">


        <div class="radio mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="searchByType" value="1" checked> Last Name
            </label>

            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="searchByType" value="2"> First Name
            </label>

            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="searchByType" value="3"> Client ID
            </label>

            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="searchByType" value="4"> Email
            </label>
        </div> 

    <button type="submit" class="btn btn-primary">Submit</button>
}

    @*Table -----------------------------------------------------------------------*@

        <br /> 

        <table class="table table-striped">
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Cell Phone</th>
                <th>Home Phone</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>  @*Usage comparison*@                    
                <th>Category</th>
                <th>Notes</th>
                <th>View/Edit</th>  @*To make th width match data*@
                <th>Delete</th>
            </tr>


            @foreach (var item in Model)
            {
                if (item.IsDeleted == false)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.CellPhone</td>
                        <td>@item.HomePhone</td>
                        <td>@item.Email</td>
                        <td>@item.ClientCategoryName</td>
                        <td>@item.Notes</td>

                        <td>@Html.ActionLink("View/Edit", "EditClient", new { id = item.ClientID })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.ClientID })</td>
                </tr>
                }
            }

        </table>

