@*Change model back to WebUI.Models  when switching back to the other Action Method*@

@model IEnumerable<SingularityFAAST.Core.Entities.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Add New Client", "AddClient", new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)    @*Change to match attributes of Core Entity*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientCategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Address1
        </td>
        <td>
            @item.StateCode
        </td>
        <td>
            @item.Zip
        </td>
        <td>
            @item.ClientCategoryId
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
        </td>*@
    </tr>
}

</table>
