@model SingularityFAAST.Core.ViewModels.ItemIndexViewModel  

@*Inventory Home page
     -Homepage for all Inventory actions
     -User is directed here when the "Inventory" button on the navigation menu is selected
     -Default view is "View All Inventory"

    Hope Haven - FAAST Inventory System
    Jonathan Ebert - 11/9/16*@

@{
    ViewBag.Title = "Inventory";
}
<div class="row">
    <div class="col-md-3">
        <h1>Inventory</h1>
    </div>
</div>


<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 well well-sm">
            <div class="col-md-2">
                @* button for creating a new inventory item *@
                @Html.ActionLink("New Inventory Item", "NewInventoryItem", "InventoryItem", null, new { @class = "btn btn-primary" })
            </div>

            @* quick sort *@
            <div class="col-md-4">
                <label>Quick Sort:</label>
                @* view all inventory*@
                @Html.ActionLink("All", "IndexInventory", "InventoryItem", null, new { @class = "btn btn-default active" })
                @* view available inventory *@
                @Html.ActionLink("Available", "ViewAllAvailableInv", "InventoryItem", null, new { @class = "btn btn-default" })
                @* view inventory on loan *@
                @Html.ActionLink("On Loan", "ViewAllOnLoanInv", "InventoryItem", null, new { @class = "btn btn-default" })
            </div>

            @* search bar *@
            <div class="col-md-3">

                <div class="form-inline">
                    @using (Html.BeginForm("IndexInventory", "InventoryItem", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <input type="text" class="form-control" id="searchby" placeholder="Search by Item Name" style="width: 60%;" />
                        <input type="submit" class="btn btn-primary" name="byName" value="Search" />
                    }
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-inline">
                    @using (Html.BeginForm("IndexInventory", "InventoryItem", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <input type="text" class="form-control" id="searchby" placeholder="Search by Item #" style="width: 60%;" />
                        <input type="submit" class="btn btn-primary" name="byNum" value="Search" />
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@*separate table for displaying all the data*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-responsive table-hover">
                <thead>
                <tr>
                    <th>Item Number</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Date Purchased</th>
                    <th>Description</th>
                    <th>Serial Number</th>
                    <th>Availability</th>
                    <th>Active</th>
                    <th>Edit Item</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var inventoryItem in Model.InventoryItems)
                {
                         <tr>
                            <td>@inventoryItem.InventoryItemId</td>
                            <td>@inventoryItem.ItemName</td>
                            <td>@inventoryItem.Location</td>
                            <td>@inventoryItem.InventoryCategoryName</td>
                            <td>@inventoryItem.DatePurchased</td>
                            <td>@inventoryItem.Description</td>
                            <td>@inventoryItem.SerialNumber</td>
                            <td>@inventoryItem.Availability</td>
                            <td>@inventoryItem.Active</td>
                            <td>@Html.ActionLink("Edit", "UpdateInventoryItem", new { id = inventoryItem.InventoryItemId })</td>
                        </tr>
                }
                </tbody>
            </table>

            <div>
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("IndexInventory", new { page = x }))
            </div>
        </div>
    </div>
</div>

@* write script to turn  *@