@* New Inventory Item page
    Hope Haven - FAAST Inventory System
    Jonathan Ebert *@

@model SingularityFAAST.Core.ViewModels.NewInventoryItemViewModel

@{
    ViewBag.Title = "NewInventoryItem";
}

<h1>New Item</h1>
<br />

@* ToolTips were added to the form to show the user what is  . *@
@using (Html.BeginForm())
{
    @*@Html.ValidationSummary();*@

    @* Main Form Div *@
    <div class="row">
        @* First Column *@
        <div class="col-md-3">
            @* Item Name *@
            <div class="form-group">
                <label for="ItemName"><a data-toggle="tooltip" data-placement="bottom" title="Required">Item Name *</a></label>
                <Input type="text" class="form-control" name="ItemName">
            </div>

            @* Inventory Number *@
            <div class="form-group">
                <label for="InventoryNumber">Inventory Number</label>
                <a data-toggle="tooltip" data-placement="bottom" title="This has been entered for you.">
                    <Input disabled="disabled" type="text" class="form-control" value="@Model.ReturnNextInventoryNumber" name="InventoryNumber">
                </a>
            </div>

            @* Serial Number *@
            <div class="form-group">
                <label for="ItemNumber">SerialNumber</label>
                <Input type="text" class="form-control" name="SerialNumber">
            </div>

            @* Retail Cost *@
            <div class="form-group">
                <label for="RetailCost"><a data-toggle="tooltip" data-placement="bottom" title="Required">Retail Cost *</a></label>
                <Input type="number" class="form-control" name="RetailCost" placeholder="ex. 100.00">
            </div>

            @* Cost Paid *@
            <div class="form-group">
                <label for="CostPaid"><a data-toggle="tooltip" data-placement="bottom" title="Required">Cost Paid *</a></label>
                <Input type="number" class="form-control" name="PricePaid" placeholder="ex. 100.00">
            </div>

            @* Model Name *@
            <div class="form-group">
                <label for="ModelName">Model Name</label>
                <Input type="text" class="form-control" name="ModelName">
            </div>

            @* Location *@
            <div class="form-group">
                <label for="Location">Location</label>
                <select class="form-control" name="Location">
                    <option disabled="disabled"> -- select and option --</option>
                    <option>Northeast Regional Center</option>
                    @*<option>Tampa</option>
                        <option>Gainesville</option>
                        <option>Miami</option>*@
                </select>
            </div>
        </div>
        @* Second Column *@
        <div class="col-md-3">
            @* Category *@
            <div class="form-group">
                <label for="Category"><a data-toggle="tooltip" data-placement="bottom" title="Required">Category *</a></label>
                <select class="form-control" name="InventoryCategoryId">
                    <option disabled selected> -- select and option -- </option>
                    <option value="1">Computers and Related Technology</option>
                    <option value="2">Daily Living</option>
                    <option value="3">Environmental Adaptations</option>
                    <option value="4">Hearing</option>
                    <option value="5">Learing, Cognition, and Development</option>
                    <option value="6">Mobility, Seating, and Positioning</option>
                    <option value="7">Recreational, Sports, and Leisure</option>
                    <option value="8">Speech Communication</option>
                    <option value="9">Vehicle Mods and Transport</option>
                    <option value="10">Vision</option>
                </select>
            </div>

            @* Purchase Date *@
            <div class="form-group">
                <label for="DatePurchased"><a data-toggle="tooltip" data-placement="bottom" title="Required">Date Purchased *</a></label>
                <Input type="datetime" class="form-control" name="DatePurchased" placeholder="ex. mm/dd/yyyy">
            </div>

            @* Description *@
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows="4" class="form-control" name="Description"></textarea>
            </div>

            @* Availability *@
            <div class="form-group">
                <label>Available</label>
                @Html.RadioButtonFor(model => model.InventoryItems.FirstOrDefault().Availability, "True")
                @Html.RadioButtonFor(model => model.InventoryItems.FirstOrDefault().Availability, "False")
            </div>

            @* Active *@
            <div class="form-group">
                <label>Active</label>
                @Html.RadioButtonFor(model => model.InventoryItems.FirstOrDefault().Active, "True")
                @Html.RadioButtonFor(model => model.InventoryItems.FirstOrDefault().Active, "False")
            </div>

        </div>
        @* Third Column *@
        <div class="col-md-2">
            @* Accessories *@
            <div class="form-group">
                <label for="Accessories">Accessories</label>
                <textarea rows="4" class="form-control" name="Accessories"></textarea>
            </div>

            @* Damages *@
            <div class="form-group">
                <label for="Damages">Damages</label>
                <textarea rows="4" class="form-control" name="Damages"></textarea>
            </div>

            @*@*Additional Files
                <div class="form-control">
                    <label for="AdditionalFiles">Additional Files</label>
                </div>*@
        </div>
    </div>

    @* Buttons: Submit & Cancel *@
    <div>
        <br />
        <br />
        @* Submit Button *@
        <button class="btn btn-primary" type="submit">Create Item</button>
        <br />


        @* message displays back to user when there are errors with the login *@
        @Html.ValidationSummary(true, "Uh Oh! An Error Occurred:", new { @class = "alert alert-warning" })  @* Have Not Checked for Accurate Location on web page yet *@
        <br />


        @Html.ActionLink("Cancel Entry", "IndexInventory", "InventoryItem", null, new { @class = "btn btn-warning btn-sm" })
    </div>

    @* Script for ToolTip *@
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}