@*Update Inventory Item
     
    Hope Haven - FAAST Inventory System
    Jonathan Ebert - 11/22/16*@

@model SingularityFAAST.Core.ViewModels.UpdateInventoryItemViewModel

@{
    ViewBag.Title = "Edit Item";
}

<h1>Edit Inventory Item</h1>

@* ToolTips were added to the form to show the user what is required. *@
@using (Html.BeginForm("UpdateInventoryItem","InventoryItem", FormMethod.Post))
{
    <div class="row">
        
        <input hidden="hidden" name="InventoryItemId" value="@Model.InventoryItem.InventoryItemId"/>

        <div class="col-md-3">
            @*Item Name*@
            <div class="form-group">
                <label for="ItemName"><a data-toggle="tooltip" data-placement="bottom" title="Required">Item Name *</a></label>
                <Input type="text" class="form-control" name="ItemName" value="@Model.InventoryItem.ItemName" required>
            </div>

            @*Inventory Number*@
            <div class="form-group">
                <label for="InventoryNumber">Inventory Number</label>
                <a data-toggle="tooltip" data-placement="bottom" title="This has been entered for you.">
                    <Input disabled="disabled" type="text" class="form-control" value="@Model.NextInventoryNumber" name="InventoryNumber">
                </a>
            </div>

            @*Serial Number*@
            <div class="form-group">
                <label for="ItemNumber">SerialNumber</label>
                <Input type="text" class="form-control" name="SerialNumber" value="@Model.InventoryItem.SerialNumber">
            </div>

            @*Retail Cost*@
            <div class="form-group">
                <label for="RetailCost"><a data-toggle="tooltip" data-placement="bottom" title="Required">Retail Cost *</a></label>
                <Input type="text" class="form-control" name="RetailCost" placeholder="ex. 100.00" value="@Model.InventoryItem.RetailCost" required>
            </div>

            @*Cost Paid*@
            <div class="form-group">
                <label for="CostPaid"><a data-toggle="tooltip" data-placement="bottom" title="Required">Cost Paid *</a></label>
                <Input type="text" class="form-control" name="PricePaid" placeholder="ex. 100.00" value="@Model.InventoryItem.PricePaid" required>
            </div>

            @*Model Name*@
            <div class="form-group">
                <label for="ModelName">Model Name</label>
                <Input type="text" class="form-control" name="ModelName" value="@Model.InventoryItem.ModelName">
            </div>

            @*Location*@
            <div class="form-group">
                <label for="Location">Location</label>
                <select class="form-control" name="Location" value="@Model.InventoryItem.Location">
                    <option disabled="disabled"> -- select and option --</option>
                    <option>Northeast Regional Center</option>
                    @*<option>Tampa</option>
                    <option>Gainesville</option>
                    <option>Miami</option>*@
                </select>
            </div>
        </div>

        <div class="col-md-3">
            @*Category*@
            <div class="form-group">
                <label for="Category"><a data-toggle="tooltip" data-placement="bottom" title="Required">Category *</a></label>
                @*<select class="form-control" name="InventoryCategoryId" value="@Model.InventoryItem.InventoryCategoryId" required>
                    <option disabled selected> -- select and option -- </option>
                    <option value="1">Computers and Related Technology</option>
                    <option value="2">Daily Living</option>
                    <option value="3">Environmental Adaptations</option>
                    <option value="4">Hearing</option>
                    <option value="5">Learing, Cognition, and Development</option>
                    <option value="6">Mobility, Seating, and Positioning</option>
                    <option value="7">Recreational, Sports, and Leisure</option>
                    <option value="8">Speech Communication</option>
                    <option value="9">Vehicle Mods and Transport</option>
                    <option value="10">Vision</option>
                </select>*@
                
                <select class="form-control" name="InventoryCategoryId" value="@Model.InventoryItem.InventoryCategoryId" required>
                    <option value="0">Select Category</option>
                    @foreach(var category in Model.InventoryItemCategories)
                    {
                        <option value="@category.InventoryCategoryId" selected="@(Model.InventoryItem.InventoryCategoryId == category.InventoryCategoryId)">
                            @category.CategoryName
                        </option>
                    }
                </select>

    </div>

    @*Purchase Date*@
            <div class="form-group">
                <label for="DatePurchased"><a data-toggle="tooltip" data-placement="bottom" title="Required">Date Purchased *</a></label>
                <Input type="datetime" class="form-control" name="DatePurchased" placeholder="ex. mm/dd/yyyy" value="@Model.InventoryItem.DatePurchased" required>
            </div>

            @*Description*@
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea rows="4" class="form-control" name="Description" value="@Model.InventoryItem.Description"></textarea>
            </div>

            @* Availability *@
            <div class="form-group">
                <label for="Availability"><a data-toggle="tooltip" data-placement="bottom" title="Required">Availability *</a></label>
                <div class="radio radio-inline" name="Available" value="@Model.InventoryItem.Availability">
                    <label><input type="radio" name="Available" id="1" />Yes</label>
                    <label><input type="radio" name="Available" id="0" />No</label>
                </div>
            </div>

            @* Active *@
            <div class="form-group">
                <label for="Active">Active</label>
                <div class="radio radio-inline" name="Active" value="@Model.InventoryItem.Active">
                    <label><input type="radio" name="Active" id="1" />Yes</label>
                    <label><input type="radio" name="Active" id="0" />No</label>
                </div>
            </div>

        </div>

        <div class="col-md-2">
            @*Accessories*@
            <div class="form-group">
                <label for="Accessories">Accessories</label>
                <textarea rows="4" class="form-control" name="Accessories" value="@Model.InventoryItem.Accessories"></textarea>
            </div>

            @*Damages*@
            <div class="form-group">
                <label for="Damages">Damages</label>
                <textarea rows="4" class="form-control" name="Damages" value="@Model.InventoryItem.Damages"></textarea>
            </div>

            @*@*Additional Files
            <div class="form-control">
                <label for="AdditionalFiles">Additional Files</label>
            </div>*@
        </div>
    </div>


    <div>
        <br />
        @* Submit Form Button *@
        <button class="btn btn-primary btn-lg" type="submit" name="UpdateInventoryItem" value="UpdateInventoryItem">Update Item</button>
        <br />
        @* message displays back to user when there are errors with the login *@
        @Html.ValidationSummary(true, "Uh Oh! An Error Occurred:", new { @class = "alert alert-warning" })  @* Have Not Checked for Accurate Location on web page yet *@

        <br />
        @Html.ActionLink("Cancel Update", "IndexInventory", null, new { @class = "btn btn-warning btn-md" })
        <br />
        <br />        
    </div>
}

@* second form for Delete Item Method [Post] *@
@using (Html.BeginForm("DeleteInventoryItem", "InventoryItem", FormMethod.Post))
{
    <input hidden="hidden" name="InventoryItemId" value="@Model.InventoryItem.InventoryItemId" />

    <button class="btn btn-danger btn-sm" type="submit" name="DeleteInventoryItem" value="DeleteInventoryItem(@Model.InventoryItem.InventoryItemId)">Delete Item</button>
}
@* Script for ToolTip *@
<script>
        $(document).ready(function ()
        {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>