@using SingularityFAAST.WebUI.Models
@model IEnumerable<SingularityFAAST.Core.Entities.InventoryItem>

@*View All Inventory Item page
    Hope Haven - FAAST Inventory System
    Jonathan Ebert*@

@{
    ViewBag.Title = "All Inventory";
}

<h2>View All Inventory</h2>


<div class="table table-responsive col-md-12">
    <table>
        @*this row holds buttons for navigating available views*@
        <tr>
            @*all inventory*@
            <td>@Html.ActionLink("All", "ViewAllInventory", null, new {@class = "btn btn-primary"})</td>
            @*inventory available*@
            <td>@Html.ActionLink("Available", "ViewAllAvailableInv", null, new {@class = "btn btn-primary"})</td>
            @*inventory on loan*@
            <td>@Html.ActionLink("On Loan", "ViewAllOnLoanInv", null, new {@class = "btn btn-primary"})</td>
        </tr>
    </table>

    @*separate table for displaying all the data*@
    <table class="table">
        <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.InventoryItemId)</td>
            <td>@Html.DisplayNameFor(model => model.)</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
            </tr>
        }
        </tbody>
    </table>
</div>
