@model IEnumerable<SingularityFAAST.Core.Entities.InventoryItem>

@*View All Inventory Available
     -shows ONLY those inventory items that are currently Available
     -excludes items that are not currently loanable or are loaned out already

    Hope Haven - FAAST Inventory System
    Jonathan Ebert - 11/9/16*@

@{
    ViewBag.Title = "Inventory Available";
}

<div class="row">
    <div class="col-md-3">
        <h1>Inventory</h1>
    </div>
</div>

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                @*this row holds buttons for navigating available views*@

                @*all inventory*@
                @*<td style="padding-right: 10px; padding-bottom: 10px">@Html.ActionLink("All", "ViewAllInventory", null, new {@class = "btn btn-primary"})</td>*@

                @* button for creating a new inventory item *@
                @Html.ActionLink("New Inventory Item", "NewInventoryItem", "InventoryItem", null, new { @class = "btn btn-primary" })
                @* button for editing a current inventory item *@
                @Html.ActionLink("Edit Inventory Item", "UpdateInventoryItem", "InventoryItem", null, new { @class = "btn btn-primary" })
            </div>

            @* quick sort *@
            <div class="col-md-4">
                <label>Quick Sort:</label>
                @* view all inventory*@
                @Html.ActionLink("All", "IndexInventory", "InventoryItem", null, new { @class = "btn btn-default" })
                @* view available inventory *@
                @Html.ActionLink("Available", "ViewAllAvailableInv", "InventoryItem", null, new { @class = "btn btn-default active" })
                @* view inventory on loan *@
                @Html.ActionLink("On Loan", "ViewAllOnLoanInv", "InventoryItem", null, new { @class = "btn btn-default" })
            </div>

            @* search bar *@
            <div class="col-md-4">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Search Inventory" style="width: 60%;" />
                    @Html.ActionLink("Search", null, null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

@*separate table for displaying all the data*@
<div class="container-fluid">
    <div class="row">
        @* advanced sort *@
        <div class="col-sm-2">
            <div class="form-horizontal">
                <h3>Sorting Options</h3>
                <div class="well well-sm">
                    @* Dropdown for picking item type - should populate with database in the future *@
                    <label>Item Type:</label>
                    <select name="type">
                        <option selected>choose one...</option>
                        <option value="speech">Speech</option>
                        <option value="computer">Computers & Technology</option>
                        <option value="dailyLiving">Daily Living</option>
                        <option value="vision">Vision</option>
                    </select>
                    <br />
                    <br />

                    @* choose how many items appear in table at once *@
                    <label>Items Per Page:</label>
                    <br />
                    <label class="checkbox-inline"><input type="checkbox" value="20" checked>20</label>
                    <label class="checkbox-inline"><input type="checkbox" value="50">50</label>
                    <br />
                    <br />

                    @* Button - submit new sorting options *@
                    @Html.ActionLink("Update Sorting", null, null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.InventoryItemId)</th>
                        <th>@Html.DisplayNameFor(model => model.ItemName)</th>
                        <th>@Html.DisplayNameFor(model => model.Location)</th>
                        <th>@Html.DisplayNameFor(model => model.InventoryCategoryId)</th> @*need to display category name and not just the id*@
                        <th>@Html.DisplayNameFor(model => model.DatePurchased)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.SerialNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.Availability)</th>
                        @*<th>Link to Item</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inventoryItem in Model)
                    {
                        <tr>
                            <td>@inventoryItem.InventoryItemId</td>
                            <td>@inventoryItem.ItemName</td>
                            <td>@inventoryItem.Location</td>
                            <td>@inventoryItem.InventoryCategoryId</td>
                            <td>@inventoryItem.DatePurchased</td>
                            <td>@inventoryItem.Description</td>
                            <td>@inventoryItem.SerialNumber</td>
                            <td>@inventoryItem.Availability</td>
                            @*needs to be a link to a specific item pulled by the item name associated with it.*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>