@using SingularityFAAST.WebUI.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script> @*Kath Added*@
    
    <script src="~/Scripts/jquery.validate.js"></script> 

</head>

<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: #FFFFFF; font-family: 'Days One', sans-serif; font-size: 30px; margin-left:30px;"><i>FAAST</i>er</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Clients", "Index", "Client", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Loans", "Index", "Loan", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Inventory", "IndexInventory", "InventoryItem", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Reports", "Index", "Report", new { area = "" }, new { @class = "navbar-brand" })</li>
            </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.ActionLink("Logout", "LogOff", "Account", new { area = "" }, new { @class = "navbar-brand", style = "margin-right: 60px;" })
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - singularityFAAST</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
