<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Chewy|Days+One|Orbitron|Poiret+One" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FAASTer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: #1fb0f8; font-family: 'Days One', sans-serif; font-size: 22px; margin-left:30px;" })
                @Html.ActionLink("Clients", "Index", "Client", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Loans", "Index", "Loan", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Inventory", "IndexInventory", "InventoryItem", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Reports", "IndexReport", "Report", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                 @*needs to be reactive to log in credentials*@
                <ul class="nav navbar-nav navbar-right">
                    @Html.ActionLink("Log In", null, null, new { area = "" }, new { @class = "navbar-brand" })
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            @*needs to be reactive to log in credentials*@
            <ul class="nav navbar-nav navbar-right">
                @Html.ActionLink("Log Out", null, null, new {area = ""}, new {@class = "navbar-brand"})
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - singularityFAAST</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>