@model SingularityFAAST.Core.ViewModels.Reports.LoanReportViewModel
@{
    ViewBag.Title = "LoanReports";
}

<h2>Loan Reports</h2>

<div class="container">
    <br />
    <p>Total number of loans: @Model.TotalNumberOfLoans</p>
    <br />

    <h4>Number of Device Loans by Type of Borrower</h4>
    
        <table class="table">
            <thead>
                <tr>
                    <th>Type of Individual or Entity</th>
                    <th>Number of Device Borrowers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Individuals with disabilities</td>
                    <td>@Model.NumberOfDeviceBorrowerWithDisability</td>
                </tr>
                <tr>
                    <td>Famility members, guardians, and authorized representatives</td>
                    <td>@Model.NumberOfBorrowerFamily</td>
                </tr>
                <tr>
                    <td>Representatives of Education</td>
                    <td>@Model.NumberOfBorrowerEducation</td>
                </tr>
                <tr>
                    <td>Representatives of Employment</td>
                    <td>@Model.NumberOfBorrowerEmployment</td>
                </tr>
                <tr>
                    <td>Representatives of Health, allied health, and rehabilitation</td>
                    <td>@Model.NumberOfBorrowerHealth</td>
                </tr>
                <tr>
                    <td>Representatives of Community Living</td>
                    <td>@Model.NumberOfBorrowerCommunityLiving</td>
                </tr>
                <tr>
                    <td>Representatives of Technology</td>
                    <td>@Model.NumberOfBorrowerTechnology</td>
                </tr>
            </tbody>
        </table>

    <h4>Types of Devices Loaned</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Type of AT Device</th>
                    <th>Number</th>
                </tr>
            </thead>
           <tbody>
           @foreach(var item in Model.categoryCounts)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td>@item.Count</td>
                </tr>
            }
             </tbody>
        </table>
    <br />
    <h4>Number of loans with the purpose of assisting in decision making: @Model.PurposeDecisionMaking</h4>
    
</div>